master.name = silken
slave.name = silken

numThreads=100
perThread=10000
startFrom=10000
mode=write

writeRateLimit = 20000
readRateLimit  = 20000
sleepTime = 50

tableName=Message
sqlType=postgres

db.name = ali
db.user = root
db.password = shibuya

//db.jdbcUrlMaster = "jdbc:mysql:loadbalance//master,slave:3306"
//db.jdbcUrlSlave = "jdbc:mysql:loadbalance//slave:3306"
//db.className = com.mysql.jdbc.Driver
//db.className = org.mariadb.jdbc.Driver

db.jdbcUrlMaster = "jdbc:postgresql://localhost:5432"
db.jdbcUrlSlave = "jdbc:postgresql://localhost:5432"
db.className = "org.postgresql.ds.PGSimpleDataSource"


metrics{
ip = 0.0.0.0
port = 4040
}